/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=MedievalSharp&family=Oswald:wght@200;300;400;500;600;700&display=swap');



/* Asterisk wild card selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lumanosimo', sans-serif;
}


/* header */

#title {
    background-color:#ba3838;
    padding: 10px;
    box-shadow: 3px 2px 2px #3a3a3a;
}

#title a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    
}

#title a:hover {
    text-decoration: underline;
}


#title h1 {
    font-size: 1.5rem;
}


/* Introduction */
#main-section {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    flex: 1;
    align-items: center;
    background: url('../images/page-background.jpg') no-repeat center center/cover;

}

#intro-header {
    margin-top: 10px;
}


#hero-image-outer {
    background: url('../images/knowledge_hero_image.avif')  no-repeat center center/cover;
    width: 80vw;
    height: 50vh;
    /* position: absolute; */
    margin: 20px;
    padding: 20px;
}

#intro {
    margin-top: 20px;
    flex-basis: 45% ;
    width: 80vw;
    padding: 10px;

}

#intro p { 
    margin-top: 5px;
    font-size: small;
    padding: 5px;
    text-align: left;
    overflow: auto;
    
}

#intro p br {
    margin-bottom: 10px;
}


.button {
    margin: 10;
    padding: 10px;
    background-color: #ba3838;
    border-radius: 10px;
    color: white;
    font-family: 'Lumanosimo', sans-serif;
}


.button:hover {
    cursor: pointer;
}


.spacing {
    width: 100vw;
    height: 5vh;
}

/* Questions */
#questions {
    display: flex;
    flex-direction: column;
    background: url('../images/page-background.jpg') no-repeat center center/cover;
    height: 80vh;
}

#questions h3, #questions p {
    margin: 10px;
    padding: 5px;
}

#question {
     width: 80vw;
     height: 15vh;
     overflow: auto;
}

#counters {
    align-self: self-end;
    font-size: smaller;
}



#answers {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    height: 15vh;
    width: 80vw;
}

#answers input {
    margin-top: 5px;
}

#button-container {
    margin: 5px;
    display: flex;
    flex-direction: row;
    gap: 150px 150px;
    justify-content: center;
    padding: 5px;
    height: 10vh;
    flex-wrap: wrap;

}

#button-container input{
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: #ba3838;
    width: 100px;
    align-self: center;
    
}


#hourglass {
    background: url('../images/hourglass.gif') no-repeat center center/cover;
    width: 80vw;
    height: 40vh;
    margin-bottom: 5px;
    padding: 5px;
    align-self: center;
}

/* results */
#results-main {
    display: flex;
    flex-direction: column;
    background: url('../images/page-background.jpg') no-repeat center center/cover;
    flex: 1 0 auto;
    justify-content: center; /* Center items vertically */
}

#results-main h2 {
    font-size: medium;
    padding: 5px;
    margin: 15px;
    margin-left: 10px;
}

#results-summary {
    font-size: small;
    padding: 5px;
    margin: 10px;
    width: 80vw;
}

#results-summary th {
    margin: 2px;
    padding: 2px;
    text-align: left;
} 

#radar-plot {
    width: 40vw;
    height: 60vh ;
    align-self: flex-end;
    padding: 5px;
    margin: 5px;
}

/* footer */

footer {
    margin-top: auto;
    background-color: #ba3838;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

footer li {
    display: inline;
    list-style-type: none;
    padding: 5px 20px;
} 

footer ul {
    list-style: none;
    padding: 20px;
    flex-basis: 100%;
    display: flex; /* Add display flex */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */ 
}

footer p {
    font-size: small;
    color: white;
    padding: 10px;
}

.fa-brands {
    color: white;
}

