/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=MedievalSharp&family=Oswald:wght@200;300;400;500;600;700&display=swap');



/* Asterisk wild card selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,h2,h3 {
    font-family: 'Lumanosimo', sans-serif;
}

p, input {
    font-family:  'Lumanosimo', sans-serif;
}

/* header */

#title {
    background-color:#ba3838;
    padding: 10px;
    box-shadow: 3px 2px 2px #3a3a3a;
}

#title a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    
}

#title a:hover {
    text-decoration: underline;
}


#title h1 {
    font-size: 1.5rem;
}


/* Introduction */
#main-section {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    flex: 1;
    align-items: center;
    background: url('../images/page-background.jpg') no-repeat center center/cover;

}

#intro-header {
    margin-top: 10px;
}


#hero-image-outer {
    background: url('../images/knowledge_hero_image.avif')  no-repeat center center/cover;
    width: 80vw;
    height: 50vh;
    /* position: absolute; */
    margin: 20px;
    padding: 20px;
}

#intro {
    margin-top: 20px;
    flex-basis: 45% ;
    width: 80vw;
    padding: 10px;

}

#intro p { 
    margin-top: 20px;
    font-size: small;
    padding: 20px;
    text-align: justify;
}


#intro h2 {
    font-size: 1.2rem;
}

#start-game {
    margin: 50;
    padding: 10px;
    background-color: #ba3838;
    border-radius: 10px;
    color: white;
    

      }

#start-game:hover {
    cursor: pointer;
}


#spacing {
    width: 100vw;
    height: 5vh;
}

/* Questions */
#questions {
    display: flex;
    flex-direction: column;
    background: url('../images/page-background.jpg') no-repeat center center/cover;
    height: 80vh;
}

#questions h3, #questions p {
    margin: 10px;
    padding: 5px;
}

#answers {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px;
}

#answers input {
    margin-top: 10px;
}

#button-container {
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px 30px;
    justify-content: flex-start;

}

#button-container input{
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    background-color: #ba3838;
    width: 100px;
}


/* footer */

footer {
    margin-top: auto;
    background-color: #ba3838;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
}

footer li {
    display: inline;
    list-style-type: none;
    padding: 5px 20px;
} 

footer ul {
    list-style: none;
    padding: 20px;
    flex-basis: 100%;
    display: flex; /* Add display flex */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */ 
}

footer p {
    font-size: small;
    color: white;
    padding: 10px;
}

.fa-brands {
    color: white;
}

