/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=MedievalSharp&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wild card selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Lumanosimo', sans-serif;
}

/* styles buttons across the all pages */
.button {
    margin: 10px;
    padding: 5px;
    background-color: #ba3838;
    border-radius: 10px;
    color: white;
    font-family: 'Lumanosimo', sans-serif;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    width: 50px;
    height: 30px;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

/* adds spacing before footer */
.spacing {
    width: 100vw;
    height: 5vh;
}

/* header */

#title {
    background-color: #ba3838;
    padding: 10px;
    box-shadow: 3px 2px 2px #3a3a3a;
}

#title a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    text-align: center;
}

#title a:hover {
    text-decoration: underline;
}

#title h1 {
    font-size: 1.5rem;
}

/* Introduction */
#main-section {
    min-height: 100vh;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    flex: 1;
    align-items: center;
    background: url('../images/page-background.jpg') no-repeat center center/cover;
}

#intro-header {
    margin-top: 10px;
}

#hero-image-outer {
    background: url('../images/knowledge_hero_image.png') no-repeat center center/cover;
    width: 80vw;
    height: 50vh;
    margin: 20px;
    margin-bottom: 5px;
    padding: 20px;
}

#intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    margin-top: 5px;
    flex-basis: 45%;
    width: 80vw;
    padding: 10px;
}

#intro p {
    margin-top: 5px;
    font-size: small;
    padding: 5px;
    text-align: left;
    overflow: auto;
}

#intro p br {
    margin-bottom: 10px;
}

#start-button {
    width: 120px;
    padding: 5px;
    height: 30px;
}

/* Questions */
#questions {
    display: flex;
    flex-direction: column;
    background: url('../images/page-background.jpg') no-repeat center center/cover;
    height: 100%;
}

#questions h2,
#questions p {
    margin: 10px;
    padding: 5px;
}

#question-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#question {
    width: 80vw;
    height: 15vh;
    overflow: auto;
    font-size: 0.85em;
    margin: 20px;
    padding: 5px;
}

#counters {
    margin-top: 20px;
    align-self: self-end;
    font-size: smaller;
}

#category {
    align-self: center;
}

#answers {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    height: 15vh;
    font-size: 0.85em;
    align-self: center;
    margin: 0 auto;
}

#answers input {
    margin-top: 5px;
}

#button-container {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 30% 30%;
    justify-content: center;
    padding: 5px;
    height: 10vh;
    flex-wrap: wrap;
}

#button-container input {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    background-color: rgb(188, 57, 57);
    width: 100px;
    align-self: center;

}

#exit-container {
    display: flex;
    flex-direction: column;
}

#hidden-exit {
    display: none;
}

#return-home {
    width: auto;
    height: 15vh;
    background-color: rgba(188, 57, 57, 0.4);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#return-home a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10%;
}

#return-home a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* results */
#results-main {
    display: flex;
    flex-direction: column;
    background: url('../images/page-background.jpg') no-repeat center center/cover;
    flex: 1 0 auto;
    justify-content: center;
}

#results-main h2 {
    font-size: medium;
    padding: 5px;
    margin: 15px;
    margin-left: 10px;
    text-align: center;
}

#results-summary {
    font-size: small;
    padding: 5px;
    margin: 10px;
    width: 80vw;
    margin: 0 auto;
}

#results-summary th,
#results-summary td {
    margin: 2px;
    padding: 2px;
    text-align: left;
}

#results-summary td:nth-child(2),
/* Selects second column */
#results-summary td:nth-child(3),
#results-summary th:nth-child(2),
#results-summary th:nth-child(3) {
    /* Selects third column */
    text-align: center;
}

#radar-plot {
    width: 100vw;
    height: 80vh;
    align-self: flex-end;
    padding: 5px;
    margin: 5px;
    margin: 0 auto;
}

#button-results {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20% 20%;
    justify-content: center;
    padding: 5px;
    height: 10vh;
    flex-wrap: wrap;
}

#restart, #quit {
    width: 100px;
    font-size: small;
}

/* footer */
footer {
    background-color: #ba3838;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    padding: 10px;
    bottom: 0;
    width: 100vw;
}

footer li {
    display: inline;
    list-style-type: none;
    padding: 5px 20px;
}

footer ul {
    list-style: none;
    padding: 20px;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer small {
    font-size: small;
    color: white;
    padding: 10px;
    width: 100vw;
    text-align: center;
}

.fa-brands {
    color: white;
}

/* Media query for mobile of large size >= 425px width */
@media screen and (min-width: 425px) {
    #question {
        font-size: 0.90em;
    }

    #answers {
        font-size: 0.90em;
    }

    .button {
        width: 50px;
        height: 30px;
    }
}

/* Media query for mobile of large size >= 592px width */
@media screen and (min-width: 586px) {

    #button-container {
        gap: 20% 20%;
    }

    #radar-plot {
        width: 60vw;
        height: 30vh;
    }
}

/* Media query for Tablets of medium size >= 768px width */
@media screen and (min-width: 764px) {
    #intro p {
        font-size: medium;

    }

    #hero-image-outer{
        height: 70vh;
    }

    #question {
        font-size: 1em;
        height: 10vh;
    }

    #answers {
        font-size: 1em;
        height: 30vh;
    }

    #answers input {
        margin-top: 20px;
    }

    #button-container{
        margin: 20px;
    }

    #results-summary {
        font-size: medium;
    }

    #radar-plot-outer {
        width: 60vw;
        height: 60vh;
        align-self: center;
    }
}

/* Media query for Laptop of small size >= 1024 px width */
@media screen and (min-width: 1024px) {
    #title h1 {
        font-size: xx-large;
    }

    #hero-image-outer {
        width: 80vw;
        height: 70vh;
    }

    #intro p {
        font-size: large;
        width: 80vw;
        margin: 0 auto;
    }

    .button {
        font-size: large;
        width: 100px;
        height: 50px;
    }

    #start-button {
        height: 60px;
        width: 130px;
        padding: 10px;
        padding-top: 15px;
    }

    #button-container {
        gap: 20% 20%;
    }

    #counters {
        font-size: 0.75em;
    }

    #question {
        font-size: 1em;
    }

    #answers {
        font-size: 1em;
    }

    #radar-plot-outer {
        width: 80vw;
        height: 60vh;
    }

    #radar-plot {
        margin: 0 auto;
        width: 95%;
        height: 95%;
        padding: 5px;
    }

    #button-results a {
        height: 30px;
        width: 200px;
        justify-content: center;

    }

    footer {
        height: 20vh;
    }

    footer small {
        font-size: medium;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    footer .fa-brands {
        margin-top: 5px;
        margin-left: 30px;
    }

    .fa-brands {
        font-size: x-large;
    }
}

/* Media query for Laptop of medium size >= 1044 px width */
@media screen and (min-width: 1044px) {

    #hero-image-outer {
        width: 60vw;
        height: 80vh;
    }

    #intro p {
        width: 60vw;
    }

    #counters {
        font-size: 1em;
    }

    #category {
        font-size: 1.7em;
    }

    #question {
        font-size: 1.10em;
    }

    #answers {
        font-size: 1.10em;
    }

    #text-results h2 {
        font-size: larger;
    }

    #results-summary {
        font-size: large;
        padding: 5px;
        margin: 0 auto;
        width: 80vw;
    }
}

/* Media query for Laptop of medium size >= 1060 px width */
@media screen and (min-width: 1060px) {

    #question {
        height: 10vh;
    }

    #answers {
        height: 30vh;
    }
}

/* Media query for Laptop of medium size >= 1496 px width */
@media screen and (min-width: 1496px) {

    #counters {
        font-size: medium;
    }

    #category {
        font-size: 2rem;
    }

    #question {
        font-size: 1.2rem;
        height: 10vh;
    }

    #answers {
        font-size: large;
        height: 30vh;
    }
}


/* Media query for 4k monitors size >= 2560 px width */
@media screen and (min-width: 2560px) {

    #title h1 {
        font-size: 3em;
    }

    #hero-image-outer {
        width: 40vw;
        height: 60vh;
    }

    #intro p {
        font-size: xx-large;
        margin-top: 10px;
        width: 40vw;

    }

    .button {
        font-size: xx-large;
        width: 200px;
        height: 80px;
    }
    #start-button {
        width: 300px;
        height: 60px;
        padding: 10px;
    }

    #questions {
        height: 90vh;
    }

    #counters {
        font-size: 2em;
    }

    #category {
        font-size: 3em;
    }

    #question {
        font-size: 2.5em;
    }


    #answers {
        font-size: 2.5em;
    }

    #answers input[type="radio"] {
        width: 30px;
        height: 30px;

    }

    #button-container {
        gap: 20% 20%;
    }

    #text-results h2 {
        font-size: xx-large;
    }

    #results-main {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 10px;
        height: 20vh;
        flex: 1 0 auto;
        flex-wrap: wrap;
    }

    #results-summary {
        font-size: xx-large;
        width: 50vw;
        align-self: flex-start;
        flex-shrink: 2;
        margin-left: 40px;

    }

    #results-summary td,
    /* Selects second column */
    #results-summary th {
        width: 200px;
    }

    #radar-plot-outer {
        align-self: flex-start;
        flex-grow: 4;
        width: 900px;
        height: 800px;
    }

    #radar-plot {
        padding: 5px;
        margin: 0 auto;
        width: 800px;
        height: 800px;
        font-size: xx-large;
    
    }
        
    #button-results {
        order:2;
        align-self: flex-end;
        width: 100vw;
        height: 250px;
        justify-content: center;
        align-items: center;
        margin: 50px;
    }

    #button-results #restart,  #button-results #quit {
        width: 250px;
        height: 70px;
        flex-basis: auto;
        padding: 10px;
        font-size: x-large;
        padding-top: 15px;
    }

    #spacing-result{
        order: 3;
        background-color: aqua;
        height: 0px;
    }

    footer{
        height: 10vh;
    }

    footer small {
        font-size: z-large;
        padding: 0px;
        margin-bottom: 0px;
    }

    .fa-brands {
        font-size: 3em;
    }
}